<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title class="ion-text-center title">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container body">
    <h2>About</h2>
    <p>This is an application developed for SWDV 655: Advanced Topics from Maryville University. It is a basic list of food trucks near me using a service to process the static data from a JSON file. The native plugin is share using Capacitor.</p>
    <p> The idea came to me because in order to find food trucks around one needs to check each of their respective Facebook Pages individually. Granted I have not checked the app store for food truck finder apps to see how accurate most of them are (I did check one and it was missing some). While this application is fairly simple the overall idea would be two seperate applications: a master one each food truck could access their page with to add, update, and manage and a user app to view, map, and share the trucks.</p>
    <h2>Contact</h2>
    <p>Any questions or issues, please contact me at: smattson1@live.maryville.edu</p>
  </div>
</ion-content>
